.buttonsub {
    border: 1px solid #ccf;
}
.buttonsub:hover {
    border: 1px solid #006;
    background: #E1F2B6;
}

.pkgw {
    width: 100% !important;
    text-align: center;
}

.centerBlockFun {
    width: 520px;
    margin-left:140px;
}


#loginForm {
    padding: 0px;
    background-color: #FAFAFA;
}

#loginForm table tr.namepasswd {
    line-height: 28px;
}

#loginForm table td label {
    margin-right:3px;
}

#loginForm table td span {
    padding-left: 40px;
    line-height: 18px
}

#loginForm ul li span:before {
    color: #9DDCFF;
    content: "///";
    margin-left: -2em;
    padding-right: 0.3em;
}

.sign-in table, .noSideBar table, .pkgsubmit table {
    border: none;
}
.sign-in table td, .noSideBar table td, .pkgsubmit table td {
    border: none;
}

.noSideBar form {
    background: none repeat scroll 0 0 #F2F2F2 !important;
    padding: 10px 20px 18px  !important
}

.nosidebar form p {
    text-align: center;
    margin-bottom: 8px;
}

.nosidebar form tr.prop input {
    width: 237px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

#loginButton {
    margin: 10px 0 16px 22px;
}

#getPassButton {
    margin: 18px 0 16px 40px;
}

table.hoverAble tr:hover {
    background: #E1F2B6;
}

.noSideBar {
    width: 800px;
    margin-left:70px;
    text-align: left;
    margin-top: 9px;
}

.noSideBar table tr {
    line-height: 33px !important;
}

#registerButton {
    margin-top: 8px;
}

.value {
    text-align: left;
}

.name {
    text-align: right;
    padding-right: 23px;
    width: 242px;
}

body li {
    list-style-type: none !important;
}
ul.floatList li {
    float:left;
}

.loginFloat {
    margin-left: 15%;
}
.loginFloat li{
    margin-right: 6%;
    margin-bottom: 8px;
}

.ui-corner-all {
    border-radius: 3px 3px 3px 3px;
}

.pkgsubmit {
    margin-top: 9px;
}

.pkgsubmit tr td {
    padding: 10px;
}

.lang-select {
    position:absolute;
    top: 71px;
    right:225px;
}
.lang-comp {
    float: left;
    line-height: 22px;
    padding: 0 !important;

}
.lang-selected span{
    background-color: #EEEEEE;
    border: medium none !important;
    box-shadow: 2px 1px 15px #FFFFFF !important;
}
.lang-selected a {
    color: #1e2eac !important;
    font-weight: bolder;
    cursor: default;
}
.lang-comp span {
    margin: 10px;
    border: 1px solid #9DDCFF;
    border-radius: 0 6px 1px 8px;
    box-shadow: 2px 2px 1px #9DDCFF;
    padding: 3px 6px 1px;
}

.lang-comp:not(.lang-selected) span:hover {
    background-color: #99D9EF;
}

.helloMessage {
    padding-left: 1.25em;
}

.userMenu {
    padding: 10px 4px;
    margin: 6px;
}
.side-menu {
    margin-top: 14px;
    margin-left:16px;
    position: relative;
}

.side-menu div{
    background-color: #317CCF;
    padding: 5px 10px 4px;
    border-radius: 0px 6px 1px 8px;
    margin: -12px;
    width: 125px;
    text-align: center;
    box-shadow: 2px 2px 1px #888888;
    position: relative;
}
.side-menu a {
    color: #FFFFFF !important;
    font-weight: bolder;
}

.side-menu a:hover {
    color: #9DDCFF !important;
}

.side-menu div:hover{
    background-color: #29306d;
    margin-left:-11px;
}

.side-menu-selected{
    background-color: rgba(28, 30, 82, 0.77) !important;
    margin-left:-11px !important;
}

a .side-menu-selected {
    color: #9DDCFF !important;
    cursor: default;
}

.form-no-decorate form {
    border: none !important;
    background: none;
    padding: 0;
}

.form-no-decorate form ol {
    background-color: rgba(244, 250, 229, 0.35);
}

.limit-width-select {
    width:447px;
}

.product-content {
    padding: 11px 13px;
    width: 346px;
    height: 288px;
    position: relative;
}

.product-img img{
    width:242 !important;
    height: 288 !important;
    margin: 13px;
    box-shadow: 3px 3px 10px #D5D0D5;
}

.product-content h5 {
    margin: 8px 18px;
    font-weight: bold;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.price {
    background: none repeat scroll 0 0 #E6E4E6;
    border-radius: 13px 13px 13px 13px;
    color: #4F5078;
    font-size: 150%;
    font-variant: small-caps;
    font-weight: bold;
    margin: 14px auto;
}

#buyOnline {
    background-color: rgba(249, 97, 6, 0.73);
    border: medium none;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 1px 1px 3px rgba(249, 97, 6, 0.73);
    font-size: 21px;
    padding: 7px 18px;
    color: #ffffff;
    margin: 4px 7px;
    
}

.buy-button:hover #buyOnline {
    cursor: pointer;
    background-color: #FF631B;
}

#buyTaobao {
    background-color: rgba(249, 121, 102, 0.72);
    border: medium none;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 1px 1px 3px rgba(249, 97, 6, 0.73);
    color: #FFFFFF;
    font-size: 16px;
    margin: 3px 8px;
    padding: 0px 6px;
    font-style: normal;
}

.buy-button:hover #buyTaobao {
    background-color: rgba(239, 19, 19, 0.65);
    cursor: pointer;
}

.buy-button div.display-table {
    color: rgba(0, 0, 0, 0.33);
    font-family: Trebuchet MS;
    height: 40px;
    line-height: 19px;
    margin-top: 6px;
    vertical-align: middle;
    margin-left: 6px;
    width: 202px;
}

.buy-button:hover div.display-table {
    color: #000000;
}

.display-table {
    display: table;
}

.display-table div {
    display: table-cell;
    vertical-align: middle;
}

.buy-from-taobao {
    bottom: 24px;
    margin: 11px 8px;
    color: rgba(0, 0, 0, 0.33);
    font-family: Trebuchet MS;
    position: absolute;
}

.buy-from-taobao:hover {
    color: #000000;
}

