.buttonsub {
    border: 1px solid #ccf;
}
.buttonsub:hover {
    border: 1px solid #006;
    background: #E1F2B6;
}

.pkgw {
    width: 100% !important;
    text-align: center;
}

.centerBlockFun {
    width: 520px;
    margin-left:140px;
}


#loginForm {
    padding: 0px;
    background-color: #FAFAFA;
}

#loginForm table tr.namepasswd {
    line-height: 28px;
}

#loginForm table td label {
    margin-right:3px;
}

#loginForm table td span {
    padding-left: 40px;
    line-height: 18px
}

#loginForm ul li span:before {
    color: #9DDCFF;
    content: "///";
    margin-left: -2em;
    padding-right: 0.3em;
}

.sign-in table, .noSideBar table, .pkgsubmit table {
    border: none;
}
.sign-in table td, .noSideBar table td, .pkgsubmit table td {
    border: none;
}

.noSideBar form {
    background: none repeat scroll 0 0 #F2F2F2 !important;
    padding: 10px 20px 18px  !important
}

.nosidebar form tr.prop input {
    width: 237px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

#loginButton {
    margin: 10px 0 16px 22px;
}

#getPassButton {
    margin: 18px 0 16px 40px;
}

table.hoverAble tr:hover {
    background: #E1F2B6;
}

.noSideBar {
    width: 800px;
    margin-left:70px;
    text-align: left;
    margin-top: 9px;
}

.noSideBar table tr {
    line-height: 33px !important;
}

#registerButton {
    margin-top: 8px;
}

.value {
    text-align: left;
}

.name {
    text-align: right;
    padding-right: 23px;
}

body li {
    list-style-type: none !important;
}
ul.floatList li {
    float:left;
}

.loginFloat {
    margin-left: 15%;
}
.loginFloat li{
    margin-right: 6%;
    margin-bottom: 8px;
}

.ui-corner-all {
    border-radius: 3px 3px 3px 3px;
}

.pkgsubmit {
    margin-top: 24px;
}

.pkgsubmit tr td {
    padding: 10px;
}

.lang-select {
    position:absolute;
    top: 82px;
    right:225px;
}
.lang-comp {
    float: left;
    line-height: 22px;
    padding: 0 !important;
}
.lang-selected span{
    background-color: #fff;
    padding: 3px 6px 1px;
    border-radius: 2px
}
.lang-selected a {
    color: #1e2eac !important;
    font-weight: bolder;
    cursor: default;
}
.lang-comp span {
    margin: 5px;
}

.helloMessage {
    padding-left: 1.25em;
}
