/* fixed navigation */
body {
    padding-top: 64px;
}

/* logo */
.logo {
    position:absolute;
    left: -20px;
    top: 5px;
}

.navbar .brand {
    position:relative;
    margin-left: 22px;
}

.navbar-inner .brand {
    width: 200px;
}

.navbar-inner {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252525', endColorstr='#252525', GradientType=0);
}



/* dream - hero image */
.hero-img {
    width: 516px;
}

/* sidebar */
.remember-me {
    line-height: 28px;
}

.full-extended {
    width: 93%;
}

/* product */
.product-list .price {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 80%;
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    transform: rotate(5deg);
    z-index: 10;
    right: -25px;
    top: -35px;
}

.label-2 {
    background-color: #3A87AD;
}
.label-1 {
    background-color: #C09853;
}

.text-0 {
    color: #999999;
}

.text-2 {
    color: #3A87AD;
}
.text-1 {
    color: #C09853;
}


.btn-2.active, .btn-1.active, .btn-0.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-2 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-2:hover, .btn-2:focus, .btn-2:active, .btn-2.active, .btn-2.disabled, .btn-2[disabled] {
    background-color: #51A351;
    color: #FFFFFF;
}
.btn-1:active, .btn-1.active {
}


.btn-1 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active, .btn-1.disabled, .btn-1[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}
.btn-2:active, .btn-2.active {
}

.btn-0 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-0:hover, .btn-0:active, .btn-0.active, .btn-0.disabled, .btn-0[disabled] {
    background-color: #F89406;
    color: #FFFFFF;
}
.btn-0:active, .btn-0.active {
}

/* user profile */
.content-inner {
    margin: 0 10px 10px !important;
    max-width: 100%;
    min-height: 30px;
    min-width: 90%;
}

.box-head {
    color: #777777;
    font-weight: bold;
    height: 40px;
}
.box-head h3 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 27px;
}
.box-content {

    min-height: 50px;
}

.display-table {
    display: table;
}
.title {
    border-bottom: 3px double #CDCDCD;
    margin-bottom: 10px;
}

.title.display-table p {
    width: 140px;
    text-align: right;
}

.inner-margin-left {
    margin-left: 52px;
}

.pay-with-title {
    margin-top: 45px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6, .title p {
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    display: inline-block !important;
    margin-bottom: -2px !important;
    margin-left: 0 !important;
    margin-right: 15px !important;
    padding: 0 10px 10px 0 !important;
}
.border-black {
    border: medium none #3C3C3C !important;
}
.title.display-table span {
    margin-left: 20px;
}

/* Purchase Show */
#show-purchase {
    margin-top: 5px;
}

.purchase-button form  {
    margin-bottom: 0;
}

.purchase-detail-frame {
    padding: 15px;
    margin-left: 52px;
}

/* register*/
#register-body form {
    margin: 13px 0 0;
}

/* forgot password */
#forgot-body form {
    margin: 13px 0 0;
}

/********** PRICING TABLES **********/
.pricing-table-wrapper {
	text-align: center;
}

.pricing-table {
	display:inline-block;
}

.pricing-column, .feat-inner{
	list-style:none;
	position:relative;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.pricing-column:hover, .feat-inner:hover {
	-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
	box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
	z-index:1;
}

.pricing-column:hover > .pricing-title {
    border-top: 3px solid rgba(236,96,47,0.9);
}

.pricing-column:hover > .pricing-button {
    background-color: #d7d7d7;
}

.pricing-column li {
	white-space:nowrap;
	text-align:center;
	padding:12px;
	background:rgba(0,0,0,0.01);
	border-bottom:1px dotted rgba(0,0,0,0.1);
}

.pricing-column li:nth-child(even) {
	background:#EDEDED;
}

.pricing-column li:nth-child(odd) {
	background:#FAFAFA;
}


.pricing-column li.pricing-title {
    font-weight:600;
    font-size:20px;
}

.pricing-title-0 {
    border-top: 3px solid #999999;
}

.pricing-title-2 {
    border-top: 3px solid #3A87AD;
}
.pricing-title-1 {
    border-top: 3px solid #C09853;
}

.pricing-column li.pricing-price {
	color:#ec602f;
	font-size: 200%;
	line-height: 120%;
}

.pricing-column li.pricing-price span {
	font-size:45%;
	line-height:120%;
}

.pricing-column .pricing-button .button {
	margin:0 !important;
    font-size: 18px;
}

.pricing-button form {
    margin: 10px;
}

.font-normal {
    font-weight: normal;
}






.button a, .button a:visited{
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.button a:hover{
    color: #fff;
    text-decoration: none;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}




/* Features #2 */

.features-two{
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.features-two .feat-inner{
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
}

.features-two i{
    font-size: 35px;
    margin-bottom: 10px;
}

.features-two .button{
    margin-top: 10px;
    margin-bottom: 20px;
}

.features-two .button a{
    font-size: 11px;
}

.features-two p {
    margin-bottom: 18px;
}

.features-two .brown {
    color: #B94A48;
}

.modal-body .page-header {
    margin: -15px 0 15px;
    padding-bottom: 0px;
}

#use-giftcard-body form {
    padding-top: 20px;
}

#use-giftcard-body h3, #use-giftcard-body .alert {
    text-align: left;
}

.form-like {
    margin-bottom: 20px;
}






